@{
    ViewData["Title"] = "AddPublisher";
    Layout="_LayoutAdmin";
}
@model ShopIvy.Models.Publisher;
<h2>Add new publisher</h2>
<a href="/Publisher/Index" class="btn btn-primary mb-3">Back</a>
<form asp-action="AddPublisher" asp-controller="Publisher" method="post">
                <div class="form-floating mb-3">
                <input asp-for="Name" class="form-control" placeholder="" />
                <label asp-for="Name">Name</label>
                <span asp-validation-for="Name"></span>
                </div>
                <div class="form-floating mb-3">
                <input asp-for="Hotline" class="form-control" placeholder="" />
                <label asp-for="Hotline">Hotline</label>
                <span asp-validation-for="Hotline"></span>
                </div>
            <button type="submit">Add</button>
</form>